<?xml version="1.0" encoding="ISO-8859-1" ?>
<!-- idmlight settings                                           -->
<idmlight-config>
   
   <!-- https port used to listen on the tenant facing API.      -->
   <!-- This is used on conjunction with the keystore for https. -->
   <api-port>443</api-port>
   
   <!-- keystore certificate file used for both tenant and admin -->
   <!-- API servers                                              -->
   <keystore>keystore.jks</keystore>
   
   <!-- pwd for keystore                                         -->   
   <keystorepwd>viken123</keystorepwd>
      
   <!-- path for jdbc mysql connector                            -->
   <db-path>jdbc:sqlite:openidm.db</db-path>
   
   <!-- jdbc driver to use                                       -->
   <db-driver>org.sqlite.JDBC</db-driver>
   
   <!-- db user name                                             -->
   <db-user>foo</db-user>
   
   <!-- db pwd                                                   -->
   <db-pwd>bar</db-pwd>
   
   <!-- jdbc db valid timeout value                              -->
   <db-valid-to>3</db-valid-to>
   
</idmlight-config>
